<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>JU CP Blog</title>
    
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: '#mytextarea',
        plugins: [
          'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
          'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
          'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
        ],
        toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
          'alignleft aligncenter alignright alignjustify | ' +
          'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
      });
    </script>

</head>

<body>
    <div class="container">
        <h1> Department of Computer Science and Engineering </h1>
        <hr>
        <h2> Save Blog </h2>

        <form action="#" th:action="@{/blogs/saveBlog}" th:object="${blog}" method="POST">
            <input type="text" th:field="*{id}" placeholder="Your id" class="form-control
            mb-4 col-4">

            <input type="text" th:field="*{userName}" placeholder="User Name" class="form-control
            mb-4 col-4">

            <input type="text" th:field="*{postTitle}" placeholder="Title for your post" class="form-control
            mb-4 col-4">

            <textarea id="mytextarea" th:field="*{post}">Hello, World!</textarea>

            <!-- <input type="text" th:field="*{post}" placeholder="Write your post here" class="form-control mb-4 col-4"> -->

            <br/><br/>
            <input type="text" th:field="*{postDate}" placeholder="Enter the date" class="form-control
            mb-4 col-4">   

             <button type="submit" class="btn btn-info col-3"> Save Blog </button>
        </form>
    </div>
</body>

</html>